In [1]:
import pandas as pd
import matplotlib as plt 

from sklearn.ensemble import IsolationForest
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [2]:
data_folder = 'data/'
dataset= pd.read_csv(data_folder+'data.csv')

# I. Helping Steps to get through the implementation
### - Reading the dataset
### - Visualizing Uncleaned Data from the dataset.
### - Acknowledging the Labels
### - Acknowledging the Features

### - Cleaning the data
### - Building the Pipeline to clean the data from the dataset.
### - Visualizing cleaned data from the dataset.

## Features/Labels
### - labels | 1/0
### - 5 numerical features
### - 8 categorical features

In [3]:
dataset.head(50)

,age,workSector,education,educationNum,statusMarriage,career,relationship,race,sex,gainedCapital,lostCapital,hoursPerWeek,country,income
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,34,Private,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
15,25,Self-emp-not-inc,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
16,32,Private,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
17,38,Private,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
18,43,Self-emp-not-inc,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
19,40,Private,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
20,54,Private,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
21,35,Federal-gov,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
22,43,Private,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
23,59,Private,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
24,56,Local-gov,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
25,19,Private,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
26,39,Private,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
27,49,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
28,23,Local-gov,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
29,20,Private,Some-college,10,Never-married,Sales,Own-child,Black,Male,0,0,44,United-States,<=50K
30,45,Private,Bachelors,13,Divorced,Exec-managerial,Own-child,White,Male,0,1408,40,United-States,<=50K
31,30,Federal-gov,Some-college,10,Married-civ-spouse,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
32,22,State-gov,Some-college,10,Married-civ-spouse,Other-service,Husband,Black,Male,0,0,15,United-States,<=50K
33,48,Private,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,Puerto-Rico,<=50K
34,21,Private,Some-college,10,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K
35,19,Private,HS-grad,9,Married-AF-spouse,Adm-clerical,Wife,White,Female,0,0,25,United-States,<=50K
36,48,Self-emp-not-inc,Assoc-acdm,12,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
37,31,Private,9th,5,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,43,United-States,<=50K
38,53,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
39,24,Private,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,50,United-States,<=50K
40,49,Private,HS-grad,9,Separated,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
41,25,Private,HS-grad,9,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,35,United-States,<=50K
42,57,Federal-gov,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,40,United-States,>50K
43,53,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,38,United-States,<=50K
44,44,Private,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,<=50K
45,41,State-gov,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
46,29,Private,Assoc-voc,11,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,United-States,<=50K
47,25,Private,Some-college,10,Married-civ-spouse,Exec-managerial,Wife,Other,Female,0,0,40,United-States,<=50K
48,47,Private,Prof-school,15,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,1902,60,Honduras,>50K
49,50,Federal-gov,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,55,United-States,>50K

# II. Data Preprocessing

In [4]:
# Creating the DataFrame for the preprocessed cleaned Dataset
cleaned_dataset = pd.DataFrame(columns=dataset.columns)

In [5]:
# Categorizing Features 
numerical_features = ['age','educationNum','gainedCapital','lostCapital','hoursPerWeek']
categorical_features = ['workSector','education','statusMarriage','career','relationship','race','sex','country']
label = ['income']
label_encoders = {}

In [6]:
# Repopulating cleaned dataset
for feature in dataset.columns:
    if feature in numerical_features:
        cleaned_dataset[feature] = dataset[feature]
        
# Transforming categorical features to one hot encoded
for feature in dataset.columns:
    if feature in categorical_features+label:
        label_encoders[feature] = LabelEncoder().fit(dataset[feature].astype(str))

# Repopulating cleaned dataset with the one hot encoded features
for feature in label_encoders.keys():
    cleaned_dataset[feature] = label_encoders[feature].transform(dataset[feature].astype(str))

In [7]:
# Visualizing Dataset
cleaned_dataset.head(50)

,age,workSector,education,educationNum,statusMarriage,career,relationship,race,sex,gainedCapital,lostCapital,hoursPerWeek,country,income
0,39,5,9,13,4,0,1,4,1,2174,0,40,38,0
1,50,4,9,13,2,3,0,4,1,0,0,13,38,0
2,38,2,11,9,0,5,1,4,1,0,0,40,38,0
3,53,2,1,7,2,5,0,2,1,0,0,40,38,0
4,28,2,9,13,2,9,5,2,0,0,0,40,4,0
5,37,2,12,14,2,3,5,4,0,0,0,40,38,0
6,49,2,6,5,3,7,1,2,0,0,0,16,22,0
7,52,4,11,9,2,3,0,4,1,0,0,45,38,1
8,31,2,12,14,4,9,1,4,0,14084,0,50,38,1
9,42,2,9,13,2,3,0,4,1,5178,0,40,38,1
10,37,2,15,10,2,3,0,2,1,0,0,80,38,1
11,30,5,9,13,2,9,0,1,1,0,0,40,18,1
12,23,2,9,13,4,0,3,4,0,0,0,30,38,0
13,32,2,7,12,4,11,1,2,1,0,0,50,38,0
14,34,2,5,4,2,13,0,0,1,0,0,45,25,0
15,25,4,11,9,4,4,3,4,1,0,0,35,38,0
16,32,2,11,9,4,6,4,4,1,0,0,40,38,0
17,38,2,1,7,2,11,0,4,1,0,0,50,38,0
18,43,4,12,14,0,3,4,4,0,0,0,45,38,1
19,40,2,10,16,2,9,0,4,1,0,0,60,38,1
20,54,2,11,9,5,7,4,2,0,0,0,20,38,0
21,35,0,6,5,2,4,0,2,1,0,0,40,38,0
22,43,2,1,7,2,13,0,4,1,0,2042,40,38,0
23,59,2,11,9,0,12,4,4,0,0,0,40,38,0
24,56,1,9,13,2,12,0,4,1,0,0,40,38,1
25,19,2,11,9,4,2,3,4,1,0,0,40,38,0
26,39,2,11,9,0,3,1,4,1,0,0,80,38,0
27,49,2,11,9,2,2,0,4,1,0,0,40,38,0
28,23,1,7,12,4,10,1,4,1,0,0,52,38,0
29,20,2,15,10,4,11,3,2,1,0,0,44,38,0
30,45,2,9,13,0,3,3,4,1,0,1408,40,38,0
31,30,0,15,10,2,0,3,4,1,0,0,40,38,0
32,22,5,15,10,2,7,0,2,1,0,0,15,38,0
33,48,2,1,7,4,6,4,4,1,0,0,40,32,0
34,21,2,15,10,4,6,3,4,1,0,0,40,38,0
35,19,2,11,9,1,0,5,4,0,0,0,25,38,0
36,48,4,7,12,2,9,0,4,1,0,0,40,38,0
37,31,2,6,5,2,6,0,4,1,0,0,43,38,0
38,53,4,9,13,2,9,0,4,1,0,0,40,38,0
39,24,2,9,13,2,12,0,4,1,0,0,50,38,0
40,49,2,11,9,5,0,4,4,0,0,0,40,38,0
41,25,2,11,9,4,5,1,4,1,0,0,35,38,0
42,57,0,9,13,2,9,0,2,1,0,0,40,38,1
43,53,2,11,9,2,6,0,4,1,0,0,38,38,0
44,44,2,12,14,0,3,4,4,0,0,0,40,38,0
45,41,5,8,11,2,2,0,4,1,0,0,40,38,0
46,29,2,8,11,4,9,1,4,1,0,0,43,38,0
47,25,2,15,10,2,3,5,3,0,0,0,40,38,0
48,47,2,14,15,2,9,5,4,0,0,1902,60,15,1
49,50,0,9,13,0,3,1,4,1,0,0,55,38,1

In [8]:
# Removing outliers to enhance the dataset's features correlation importance during the training 
# part of the model's creation pipeline
    
print('Removing Outliers')

clf = IsolationForest(max_samples = 100, random_state = 0)
clf.fit(cleaned_dataset)
y_noano = clf.predict(cleaned_dataset)
y_noano = pd.DataFrame(y_noano, columns = [""'Top'])
y_noano[y_noano['Top'] == 1].index.values

cleaned_dataset = cleaned_dataset.iloc[y_noano[y_noano['Top'] == 1].index.values]
cleaned_dataset.reset_index(drop = True, inplace = True)
print("Number of Outliers: {}".format(y_noano[y_noano['Top'] == -1].shape[0]))
print("Number of rows without outliers: {}".format(cleaned_dataset.shape[0]))

Removing Outliers
Number of Outliers: 8474
Number of rows without outliers: 36748

In [9]:
# Creating Features and Label Datasets
Y = cleaned_dataset.pop(label[0])
X = cleaned_dataset

In [10]:
# Creating Train, Val, Test Datasets
X_train, X_val_and_test, Y_train, Y_val_and_test = train_test_split(X, Y, test_size=0.30)

X_val, X_test, Y_val, Y_test = train_test_split(X_val_and_test, Y_val_and_test, test_size=0.30)

In [11]:
# Saving data due to outliers removal from the datasets

print('Saving Train/Val/Test Datasets')

X_train.to_csv(data_folder+'X_train.csv',index=False,header=1)
X_val.to_csv(data_folder+'X_val.csv',index=False,header=1)
X_test.to_csv(data_folder+'X_test.csv',index=False,header=1)

Y_train.to_csv(data_folder+'Y_train.csv',index=False,header=1)
Y_val.to_csv(data_folder+'Y_val.csv',index=False,header=1)
Y_test.to_csv(data_folder+'Y_test.csv',index=False,header=1)

Saving Train/Val/Test Datasets